extends layout

block content
    form(action="create", method="post", enctype="multipart/form-data")
        p
            label= "Title "
                input(type="text", name="title")
        p
            label= "Author "
                input(type="text", name="author")
        p
            label= "Image "
                input(type="file", name="image")
        p
            label= "Body "
                textarea(name="body")
        p
            button= "Submit"

