extends layout

block content
    form(action="/create", method="post", enctype="multipart/form-data")
        p
            label= "Title "
                input(type="text", name="title", value=title ? title : null)
        p
            label= "Author "
                input(type="text", name="author", value=author ? author : null)
        p
            label= "Image "
                input(type="file", name="image")
        p
            label= "Body "
                textarea(name="body")=body ? body : ""
        p
            button= "Submit"

        p
            input(type="hidden", name="id", value=id ? id : null)
            input(type="hidden", name="upload", value=upload ? upload : null)